<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3><i class="fas fa-bolt"></i> Digital Library</h3>
                <p>Siga-nos em nossas redes sociais.</p>
                <div style="margin-top: 1rem">
                    <a href="https://www.facebook.com/profile.php?id=100083450020050"
                        style="margin-right: 1rem; font-size: 1.5rem"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/proverainstalacoes?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                        style="margin-right: 1rem; font-size: 1.5rem"><i class="fab fa-instagram"></i></a>
                    <a href="#" style="margin-right: 1rem; font-size: 1.5rem"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="footer-section">
                <h3><i class="fas fa-cogs"></i> Serviços</h3>
                <p><a href="#services">Aluguel de Livros</a></p>
                <p><a href="#services">Venda de Livros</a></p>
                <p><a href="#services">Design gráfico</a></p>
                <p><a href="#services">Identidade Visual</a></p>
                <!-- <p><a href="#services">Ar condicionado</a></p>-->
            </div>
            <div class="footer-section">
                <h3><i class="fas fa-shield-alt"></i> Garantias</h3>
                <p>2 anos nos serviços</p>
                <p>Suporte técnico vitalício</p>
                <p>Fucionamento 24 horas</p>
                <p>Satisfação garantida</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Biblioteca Online. Todos os direitos reservados.</p>
            <p>
                CNPJ: 12.345.678/0001-90 
                
                
            </p>
        </div>
    </div>
</footer>