<header class="header">
        <div class="header-container">
            <!-- Logo esquerda: Substitua o arquivo em img/logo-02.png -->

            <div class="logo-left">
                <i class="fa-solid fa-book-open" style="font-size: 30px; color: #fff;"></i>
            </div>



            <!-- Menu de navegação -->
            <nav class="nav-menu">
                <a href="#inicio" class="nav-link">INÍCIO</a>
                <a href="#sobre" class="nav-link">SOBRE</a>
                <a href="#projetos" class="nav-link">PROJETOS</a>
                <a href="#contato" class="nav-link">CONTATO</a>
            </nav>

            <!-- Logo direita: Substitua o arquivo em img/cão-logo.png -->
            <div class="botao-login">
                <a href="">Logout</a>
            </div>
        </div>
    </header>
    
</body>

</html>