<header class="header">
    <div class="header-container">
        <div class="logo-left">
            <img src="../img/logo_removebg.png" alt="Digital Library" class="logo-img">
        </div>
        <nav class="nav-menu">
            <a href="../pages/TelaHome.html" class="nav-link">INÍCIO</a>
            <a href="../pages/TelaHome.html#sessao-sobre" class="nav-link">SOBRE</a>
            <a href="../pages/TelaCatalogoLivros.html" class="nav-link">CATÁLOGO</a>
            <a href="../pages/TelaHome.html#sessao-contato" class="nav-link">CONTATO</a>
        </nav>
        <div class="nav-user-area" id="navUserArea"></div>
    </div>
</header>

<script>initNavbar();</script>
