<section class="portfolio-section">
    <div class="text-section">
        <h1 class="main-title">CATALOGO DE LIVROS</h1>
        <!--
        <a href="" class="ver-todos">
            <i class="fa-solid fa-arrow-right"></i> Ver Todos
        </a>

        -->
    </div>

    <div class="portfolio-container">
        <!-- PROJETO 1 -->
        <div class="carousel-wrapper">
            <h2 class="project-title">--------------------------- Terror ---------------------------</h2>
            <div class="carousel-container">
                <div class="carousel-images" id="carousel1">

                </div>
                <div class="carousel-dots" id="dots1">

                </div>
            </div>
        </div>

        <!-- PROJETO 2 -->
        <div class="carousel-wrapper">
            <h2 class="project-title">---------------------------Drama---------------------------</h2>
            <div class="carousel-container">
                <div class="carousel-images" id="carousel2">
                    <!-- As imagens serão inseridas aqui via JavaScript -->
                </div>
                <div class="carousel-dots" id="dots2">
                    <!-- Os pontos serão inseridos aqui via JavaScript -->
                </div>
            </div>
        </div>

        <!-- ADICIONE MAIS PROJETOS AQUI SEGUINDO O MESMO PADRÃO -->
    </div>
</section>